<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<context _instance.uncertain.logging.BasicFileHandler="uncertain.logging.BasicFileHandler@145ef5bb"
         __request_type__="soapaction" __configuration__="uncertain.event.Configuration@6656d26f"
         _instance.aurora.service.IService="aurora.service.http.HttpServiceInstance@35628387"
         service_name="modules/ws_eitf/PUR_RFX/eitf_pur_rfx_export_to_erp_server.svc"
         _instance.javax.servlet.http.HttpServletResponse="org.apache.catalina.connector.ResponseFacade@13534034"
         _instance.uncertain.proc.trace.StackTraceManager="uncertain.proc.trace.StackTraceManager@4e11a9e6"
         SERVICE_LOGGING_FILE="/home/trainitf/webapp/logs/modules/ws_eitf/PUR_RFX/eitf_pur_rfx_export_to_erp_server.svc__2017-12-10.log"
         __procedure_name__="aurora.service.controller.InvokeService"
         _instance.javax.servlet.http.HttpServletRequest="org.apache.catalina.connector.RequestFacade@484c072e"
         _instance.aurora.application.features.msg.IMessageDispatcher="aurora.application.features.msg.TrxMessageDispatcher@7d6a11d0"
         success="true" _instance.uncertain.logging.ILoggerProvider="uncertain.logging.LoggerProvider@69a96314">
    <request content-type="text/xml; charset=UTF-8" connection="close" host="vs125.hand-china.com

" x-forwarded-for="202.107.250.178

" x-forwarded-host="vs125.hand-china.com

" user-agent="Axis2" server_port="80" url="/trainitf/modules/ws_eitf/PUR_RFX/eitf_pur_rfx_export_to_erp_server.svc"
             server_name="vs125.hand-china.com

" request_id="ef41e65e-795c-4225-8c97-17bffcf71f04" soapaction="&quot;&quot;" address="202.107.250.178

" content-length="648" context_path="/trainitf" x-forwarded-server="vs125.hand-china.com

"/>
    <cookie/>
    <parameter>
        <axis2ns1230508:HEADER xmlns:axis2ns1230508="http://www.aurora-framework.org/schema

" SEG_NUM="1" TOTAL_SEG_COUNT="1" BUSINESS_GROUP="BG8099481" SYSTEM_CODE="BG8099481_OA"
                               REQUEST_ID="e4131d48-feba-4efa-93d6-55ab6ef4dd4d" IF_CODE="PUR_RFX_RESULT_EXP"
                               USER_NAME="86461448" IF_CATE_CODE="PUR_PO" BATCH_NUM="1"
                               PASSWORD="6456C7FAC445F3C1C3E7F4405159D80E"/>
    </parameter>
    <session user_id="-1"/>
    <model/>
</context>

</body>
</html>